/* Default css variabls */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;600;700;800;900&family=Raleway:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --bbb-body-text-color: #{$black};
  --bbb-white-text-color: #{$white};
  --bbb-primary-text-color: #{$green};
  --bbb-blue-text-color: #{$blue};

  --bbb-body-bg-color: #{$white};
  --bbb-white-bg-color: #{$white};

  --bbb-body-font-family: #{$fm-open-sans-bold};
}
