.resume {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: $fs-normal;
  .identity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .identity__title {
      font-size: $fs-large;
    }
  }

  .resume__details{
     display: flex;
     flex-direction: column;
     gap: 1rem;
    .section{
     .section__details p{
      margin: .3rem 0;
     }
    }
  }
}
