.resume {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: $fs-normal;
  .identity {
    display: flex;
    flex-direction: column;
    border-bottom: $border-2;
    padding: 1rem;
    gap: 1rem;
    .identity__title {
      font-size: $fs-large;
    }
  }

  .resume__details {
    display: flex;
    flex-direction: column;
    .section {
      padding: 1rem;
      border: $border-2;
      margin-bottom: .5rem;
      border-radius: $rounded-sm;
      .section__item{
        display: flex;
        justify-content: space-between;
        .section__details p {
          margin: 0.3rem 0;
        }

        
      }
    }
  }
}
