@import "./formStyles";
@import "./identity";
@import "./defaultSection";

.resume {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: $fs-normal;

  .resume__details {
    display: flex;
    flex-direction: column;
   
  }
}
