@import "./switch";

.common__button{
    background-color: $bg-green-light;
    padding: .6rem;
    border-radius: $rounded-sm;
    margin: 0 .5rem;
    color: $text-white;
    opacity: 0.9;
    transition: all 0.3s;
    border: none;
    min-width: 80px;
    min-height: 40px;
    &:hover{
        opacity: 1;
    }
    position: relative;
    .common__button__loader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-top-color: #fff;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

.section__head{
    display: flex;
    justify-content: center;
    font-size: $fs-large;
    gap: .5rem;
    margin-bottom: 1rem;

    text-transform: uppercase;
    .section__title{
        white-space: nowrap;
    }
    .section__divider{
        width: 100%;
    }
}

.iconBtn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $rounded-full;
    cursor: pointer;
    transition: all 0.3s;
    color: $secondary;
    &:hover{
        background-color: $secondary;
        color: white;
    }
}

.avatar{
    .avatar__img{
        height: 40px;
        width: 40px;
        border-radius: $rounded-full;
    }
}

@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }