.common__button{
    background-color: $bg-green-light;
    padding: .6rem;
    border-radius: $rounded-sm;
    margin: 0 .5rem;
    color: $text-white;
    opacity: 0.9;
    transition: all 0.3s;
    &:hover{
        opacity: 1;
    }
}

.section__head{
    display: flex;
    justify-content: center;
    font-size: $fs-large;
    gap: .5rem;
    margin-bottom: 1rem;

    text-transform: uppercase;
    .section__title{
        white-space: nowrap;
    }
    .section__divider{
        width: 100%;
    }
}