.customize{
  color: gray;
    .customize__action{
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border: $border-1;
        padding: .7rem;
        border-radius: $rounded-sm 0 0 $rounded-sm;
        cursor: pointer;
        transition: all 0.3s;
        background-color: $primary-deep;
        color: white;
        &:hover{
          background-color: $primary;
        }
    }

    .customize__canvas{
        border: $border-1;
        width: 320px;
        min-height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        animation: getDown 0.3s ease-in;
        z-index: 10010;
        box-sizing: border-box;
        border-radius: $rounded-sm 0 0 $rounded-sm;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 0.3rem; /* Adjust the width as needed */
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: $secondary;
        }
        
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        .canvas__head{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $fs-large;
          border-bottom: $border-1;
          padding: .8rem;
          padding-bottom: .5rem;
          position: sticky;
          top: 0;
          backdrop-filter: blur(10px);
        }
        .canvas__section{
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          padding: 1rem;
          text-transform: capitalize;
          border-bottom: $border-1;
          h2{
            text-transform: uppercase;
          }
          .canvas__sub{
            &>span{
             font-weight: $fw-bold; 
            }
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            &>div{
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;
              .radio__input{
                display: flex;
                gap: .5rem;
              }
              &>span{
                height: 30px;
                width: 30px;
                border-radius: $rounded-sm;
                cursor: pointer;
                border: $border-1;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            select {
              padding: 5px;
              font-size: 14px;
              border: 1px solid #ccc;
              border-radius: 4px;
              background-color: #fff;
              color: #333;
              text-transform: capitalize;
              font-size: $fs-normal;
               option {
                padding: .5rem;
              }
            }
          }
           .canvas__templates{
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;
            display: flex;
            gap: 1rem;
            overflow-x: auto;
            &::-webkit-scrollbar {
              width: 0.3rem;
              height: 10px;
            }
            
            &::-webkit-scrollbar-thumb {
              background-color: $secondary;
              border-radius: $rounded-sm;
            }
            
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            .single__template{
              box-sizing: border-box;
              flex-basis: 50%;
              padding: .5rem;
              border-radius: $rounded-sm;
              font-weight: $fw-bold;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              align-items: center;
              min-width: 150px;
              img{
                &:hover{
                  border: $border-1;
                }
                cursor: pointer;
                border: $border-2;
                max-width: 100%;
                min-height: 200px;
                object-fit: cover;
                object-position: left;
                border-radius: $rounded-sm;
              }
              img.active{
                border: $border-1;
              }
            }
           }
           
        }
      
    }
}

.resume__sections{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  h2{
    text-transform: uppercase;
    padding: 0 1rem;
  }
  .section__items{
    .single__item{
      padding: 1rem;
      margin-bottom: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: $secondary;
      border: $border-2;
      border-radius: $rounded-sm;
    
    }
   }
}

@keyframes getDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }